@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #fbfbfb;
    font-size: 18px;
    padding-top: 70px;
}

main {
    max-width: 1200px;
    margin: auto;
}

header {
    height: 90px;
    width: 100%;
    background-color: rgb(196, 255, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    /* colocar sombra botshadown */
}

#inicio {
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    scroll-margin-top: 500px;
}

#contacto {
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    scroll-margin-top: 500px;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/

ul li {
    display: inline;
    margin-left: 30px;
}

.mascotas {
    border-radius: 50%;
    max-width: 100%;

}

p {
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 20px;
}

#descarga {
    background-color: #af599e;
    border-radius: 20px;
    padding: 15px;
    color: #fbfbfb;
}

.iconos {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer {
    background-color: bisque;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!


*/
